.login {
    display: grid;
    height: 100vh;
    place-items: center;
}
.login > button {
    width: 300px;
    background-color: #2eB1f4;
    color: #eff2f5;
    font-weight: 800;
    text-transform: capitalize;
}

.login > button:hover {
    background-color: white;
    color: #2eB1f4;
}

.login > div > img {
    object-fit: contain;
    height: 100px;
}
.login > div {
    display: flex;
    flex-direction: column;
}